/*=====
==General==
=====*/

/*import font*/
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Yanone+Kaffeesatz);

/*get rid of white space on top*/
#navbar {
	margin-top: 0;
}

/*Match Background-color in the top banner*/
#navbar {
	background-color: #FFF;
}

/*header background*/
#navbar .navbar-header {
	/*background-image: url("https://s18.postimg.org/p4zbk51mh/bg_pattern_03.png");*/
	background-color: #FFF;
}

/*make menu horizontal*/
.region-header .nav li a, .region-header .nav li{
	display: inline;
}

/*navbar adjustment*/
#page-header {
	padding-bottom: 18px;
	border-bottom: solid 1px #e7e7e7;
}

#navbar {
	border-bottom: 1px #e7e7e7;
}

/*Makes the border of the nav bar extend all the way*/
.container-fluid {
	padding-left: 0px;
  	padding-right: 0px;
}

/*Logo positioning*/
#navbar .container-fliud {
	margin: 0 auto;
 	width: 50%;
}
#navbar .navbar-header {
	width: 100%;
	text-align: center;
}
#navbar .navbar-btn img {
	margin: auto;
 	display: inline-block;
  	padding: 15px 0px;
}
#navbar .logo {
	float: none !important;
}


/*Nav Bar center & font*/
#page-header {
	text-align: center;
	font-size: 1.3em;
	font-family: 'Varela Round', sans-serif;
}

/*Divider*/
hr.style1 {
	border-top: 1px solid #BBB;
	width: 150px;
	text-align: center;
}
hr.style1:after {
	content: 'ยง';
	display: inline-block;
	position: relative;
	top: -13px;
	padding: 0 10px;
	background: #fff;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}


/*Spacing between rows*/
.row {
	padding: 15px 0;
}


/*=====
==Footer==
=====*/
footer {
	/*background-color: #28333D;*/
    background-color: #1A5285;
	color: #FFF;
}


/*=====
==Home==
=====*/

/*get rid of text: 'main menu'*/
#block-system-main-menu .block-title {
 	display: none;
}

/*get rid of test: 'home'*/
.front .page-header {
	display: none;
}

/*Banner Background*/
#homeBanner {
 	background-color: #DDD;
	background-image: url("https://s5.postimg.org/ohj3pnjcn/banner_flasks_desktop.png"), url("https://s5.postimg.org/7d1smzbg7/bg_pattern_02.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
 	background-size: contain;

}

/*jumbotron content*/
.jumbotronContent {
 	background-color: rgba(255, 255, 255, 0.70);
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px;   
	border-radius: 6px; 
	width: 800px;
	margin: 0 auto;
}

#title {
	padding-top: 25px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#subtitle {
	padding-bottom: 25px;
	font-family: 'Josefin Sans', sans-serif;
}

.preTitle {
	font-size: 1.5em;
 	margin-bottom: -10px;
}

.mainTitle {
 	margin-top: -10px;
	font-size: 2.75em;
}

/*=====
==Non-Home Pages==
=====*/

/*Moving the page title*/
.page-header {
	padding-bottom: 15px;
	padding-left: 5%;
}
