/*=====
==General==
=====*/



/*=====
==Font Page (Home)==
=====*/

/* Get rid of page title "Home" */
.front .page-title {
	display: none;
}

/* Get rid of the buttons in banner */
#banner .actions {
	display: none;
}

/* adjust image in the front page */
.front-img {
	display: block;
	width: 100%;
 	height: auto;
}

/* Diables box shadows cuz I don't like it */
.front .box {
	box-shadow: none;
}
