/*=====
==General==
=====*/

/* search bar adjustments */
#edit-search-block-form--2 {
	max-width: 400px;
}

/* fixed random text changes */
h4 + p, header h5 + p, header h6 + p {
    font-size: inherit;
    margin-top: inherit;
    line-height: inherit;
}


/*=====
==Font Page (Home)==
=====*/

/* Get rid of page title "Home" */
.front .page-title {
	display: none;
}

/* Get rid of the buttons in banner */
#banner .actions {
	display: none;
}

/* adjust image in the front page */
.front-img {
	display: block;
	width: 100%;
 	height: auto;
}

/* Diables box shadows cuz I don't like it */
.front .box {
	box-shadow: none;
}

/* make the icons bigger on front page */
.front .fa {
	font-size: 1.8em;
	line-height: 3.0em;
}

/* get rid of this random box that makes the page longer */
#node-1 > :last-child {
	display: none;
}

/* replace banner background */
#banner {
	background: url("https://abhtony.github.io/chitealab/banner-2.jpg");
}

/* site slogan to logo color*/
#site-slogan {
	color: #1C5085;
}

/* make text size consistent within .major - usually only applies to h2 + p */
.front .major p {
	font-size: 1.25em;
}

/*=====
==Non-Front Page==
=====*/

/* get rid of this random box that makes the page longer */
#block-system-main .node-page > :last-child {
	display: none;
}

/* make the nav bar color more visible */
#header #nav a {
	color: #FFF;
}

/* change header color */
.not-front #header {
	background-color: #75C8DD;
}

.not-front #logo {
	content: url("https://abhtony.github.io/chitealab/header-2.jpg");
}

/*=====
==Footer==
=====*/

/* Get rid of social media icon and copyright sign */
#footer .fa-icons, #footer .copyright {
	display: none;
}

#footer {
	background-color: #75C8DD;
	color: #FFF;
}
